// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------

footer {
    background-image: url(../../images/skyline-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}