// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
.u-promo-block {
    background-image: url(../../images/skyline.png);
}

.u-promo-container {
    background-image: url(../../images/cape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 
        16*$g-spacer 
        3.75*$g-spacer 
        12*$g-spacer 
        3.75*$g-spacer;
    
    h1 {
        line-height: 90%;
    }

    p.mission {
        font-weight: $g-font-weight-semi-bold;
        font-size: 1.1em;
        line-height: 1em;
    }

    @include media-breakpoint-up(md) {
        p.mission {
            font-size: 1.3em;
            line-height: 1.2em;
        }
    }
    @include media-breakpoint-up(lg) {
        p.mission {
            font-size: 1.4em;
            line-height: 1.3em;
        }
    }
}

.about-section {
    // Hover the tagline text at bottom of screen
    position: relative;
    margin-top: -150px;
    padding-top: 100px;
}

.card {
    display: inline-block;
    width: 100%;
}

.u-card-content {
    @extend .u-box-shadow-sm, .bg-white, .text-center, .rounded, .px-1, .py-2;
}

.card-columns {
    column-count: 2;
    column-gap: 0.5rem;
    @include media-breakpoint-up(xs) {
      column-count: 2;
    }
    @include media-breakpoint-up(sm) {
      column-count: 2;
    }
    @include media-breakpoint-up(md) {
    column-count: 3;
    }
    @include media-breakpoint-up(lg) {
        column-count: 4;
    }
  }
