
<div class="container">
    <!-- Author Avatar -->
    <article class="mb-5">
    <div class="d-flex align-items-center justify-content-center text-uppercase font-weight-bold small">
        <span class="mr-3">Product by</span>
        <img class="rounded-circle mr-3 mb-1" src="../../images/cape.png" width="35" alt="Author Image">
        <a href="https://htmlstream.com">Htmlstream</a>
    </div>
    </article>
    <!-- End Author Avatar -->

    <!-- About Content -->
    <article class="w-md-75 mx-auto">
    <p class="lead font-weight-normal text-center mb-4">We are working with 
        agencies to solve challenges and improve family outcomes, 
        by using the rich and varied experiences of on-the-ground experts to guide 
        development of tools, content, and services.</p>

  
    <!-- Social Networks -->
    <div class="d-flex justify-content-center">
        <!-- Facebook Like -->
        <div class="mr-2" style="margin-top: -5px !important;">
        <div class="fb-like"
            data-href="http://facebook.com/htmlstream"
            data-layout="button_count"
            data-action="like"
            data-show-faces="false"
            data-size="small">
        </div>
        </div>
        <!-- End Facebook Like -->

        <!-- Twitter Follow -->
        <div class="mr-2">
        <a href="https://twitter.com/htmlstream" class="twitter-follow-button" data-show-count="true">@htmlstream</a>
        </div>
        <!-- End Twitter Follow -->

        <!-- Github Star -->
        <div class="d-none d-sm-block">
        <a class="github-button" href="https://github.com/htmlstreamofficial/stream-ui-kit" data-show-count="true" aria-label="Star stream-ui-kit on GitHub">Star</a>
        </div>
        <!-- End Github Star -->
    </div>
    <!-- End Social Networks -->
    </article>
    <!-- About Content -->
</div>