
<div class="container">
    <!-- Author Avatar -->
    <article class="mb-5">
    <div class="d-flex align-items-center justify-content-center lead text-dark">
        <span class="mr-2">Training</span>
        <i class="fas fa-plus-circle mr-1"></i>
        <span class="ml-1 mr-2">Collaboration</span>
        <i class="fas fa-plus-circle mr-1"></i>
        <span class="ml-1">Coaching</span>
    </div>
    </article>
    <!-- End Author Avatar -->

    <!-- About Content -->
    <article class="w-md-75 mx-auto">
    <p class="lead text-center mb-4">We work with 
        agencies to solve challenges and improve family outcomes, 
        by using technology and the rich and varied experiences of on-the-ground 
        experts.</p>
    </article>
    <!-- About Content -->
</div>