
<div class="container">
    <article class="mb-5">
    <div class="d-flex align-items-center justify-content-center lead text-dark">
        <span class="mr-2">Training</span>
        <i class="fas fa-plus-circle mr-1"></i>
        <span class="ml-1 mr-2">Collaboration</span>
        <i class="fas fa-plus-circle mr-1"></i>
        <span class="ml-1">Coaching</span>
    </div>
    </article>

    <article class="w-md-75 mx-auto">
    <p class="lead text-center mb-4">We work with 
        agencies to solve challenges and improve family outcomes, 
        by using technology and the rich and varied experiences of on-the-ground 
        experts.</p>
    </article>

    <div class="align-self-center">
            <ul class="list-inline text-center mb-0">
                
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                <a class="text-dark muted" target="_blank" href="https://www.linkedin.com/company/heroeswork">
                    <button type="button" class="btn btn-lg btn-outline-primary btn--circle u-icon-linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </button>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                <a class="text-dark" target="_blank" href="https://twitter.com/aheroeswork">
                    <button type="button" class="btn btn-lg btn-primary btn--circle u-icon-twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                <a class="text-dark" target="_blank" href="https://www.instagram.com/aheroeswork">
                    <button type="button" class="btn btn-lg btn-primary btn--circle u-icon-instagram">
                        <i class="fab fa-instagram"></i>
                    </button>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                <a class="text-dark" target="_blank" href="https://www.facebook.com/heroeswork">
                    <button type="button" class="btn btn-lg btn-outline-primary btn--circle u-icon-facebook">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                </a>
              </li>
            </ul>
          </div>
</div>