<footer class="bg-dark u-content-space-top pb-4" role="footer">
    <div class="container-fluid mt-8">
        <!-- Copyright and Social Icons -->
        <div class="text-center px-md-3">
          <div class="text-center mb-1">
            <small class="text-white">&copy; 2019 Heroes Initiative, Inc.</small>
          </div>

          <div class="align-self-center">
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                <a class="text-white" target="_blank" href="https://www.linkedin.com/company/heroeswork">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a class="text-white" target="_blank" href="https://twitter.com/aheroeswork">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a class="text-white" target="_blank" href="https://www.instagram.com/aheroeswork">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a class="text-white" target="_blank" href="https://www.facebook.com/heroeswork">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Copyright and Social Icons -->
      </div>
</footer>
