<footer class="bg-dark u-content-space-top pb-4" role="footer">
    <div class="container-fluid mt-8">
        <!-- Copyright and Social Icons -->
        <div class="text-center px-md-3">
          <div class="text-center mb-1">
            <small class="text-white">&copy; 2020 Heroes Initiative, Inc.</small>
          </div>

          <!-- Social -->
          <div class="align-self-center">
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                <a class="text-white" target="_blank" href="https://www.linkedin.com/company/heroeswork">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a class="text-white" target="_blank" href="https://twitter.com/aheroeswork">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a class="text-white" target="_blank" href="https://www.instagram.com/aheroeswork">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a class="text-white" target="_blank" href="https://www.facebook.com/heroeswork">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>

          <!-- Terms -->
          <div class="align-self-center">
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item mx-2">
                <a class="u-link text-white text-center text-uppercase small" data-toggle="modal" href="#terms">Terms</a>
                <div class="modal fade" id="terms" tabindex="-1" role="document" aria-labelledby="terms" aria-hidden="true">
                  <div class="modal-dialog modal-full" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="termsTitle">Terms of Use</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <iframe src="/terms" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-inline-item mx-2">
                  <a class="u-link text-white text-center text-uppercase small" data-toggle="modal" href="#privacy">Privacy</a>
                  <div class="modal fade" id="privacy" tabindex="-1" role="document" aria-labelledby="privacy" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="privacyTitle">Privacy Policy</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <iframe src="/privacy" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Copyright and Social Icons -->
      </div>
</footer>
