<!-- Navbar -->
<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-transparent navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>heroes</h1>
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo"

            aria-controls="navbarTogglerDemo"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a href="https://my.heroes.team" class="nav-link">
            <i class="fas fa-mobile-alt u-font-size-90 mr-1"></i> <span class="u-font-accent">Heroes network</span>
          </a>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="#services">
            <i class="fas fa-cube u-font-size-90 mr-1"></i> <span class="u-font-accent">Services</span>
          </a>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="#team">
            <i class="fas fa-user-friends u-font-size-90 mr-1"></i> <span class="u-font-accent">Team</span>
          </a>
        </li>
      </ul>
      <div>
        <a class="btn btn-primary" href="#contact">
          <i class="fas fa-comment mr-1"></i> <span class="u-font-accent">Get in touch</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- End Navbar -->
