<!-- Navbar -->
<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-transparent navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../../images/logo-word.png" alt="Heroes" style="width: 160px;">
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo"

            aria-controls="navbarTogglerDemo"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a href="#js-scroll-to-section" class="nav-link" href="#!">
            <i class="fas fa-cubes u-font-size-90 mr-1"></i> UI Kit Components
          </a>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="#js-scroll-to-demos">
            <i class="fas fa-cube u-font-size-90 mr-1"></i> Example Pages
          </a>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="https://htmlstream.com/public/preview/stream-ui-kit/docs.html">
            <i class="fas fa-book u-font-size-90 mr-1"></i> Docs
          </a>
        </li>
      </ul>
      <div>
        <a class="btn btn-primary" href="https://htmlstream.com/templates/stream-ui-kit">
          <i class="fas fa-cloud-download-alt mr-1"></i> Download
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- End Navbar -->
