<div class="container">
    <div class="row">
      <div class="col-lg-8 align-self-center mb-5 mb-lg-0 pr-lg-5">
        <header class="mb-5">
          <h2 class="h1">Prema Scholarship Fund</h2>
        </header>
          <p class="h5">
            Prema, Dr. Morrison, aka "The Heart Lady" was a Wraparound champion that changed the lives of youth, families, staff, and communities across
California.</p>

          <p class="mb-4">
            Today, we continue to celebrate the life of our friend, colleague, and mentor by
            supporting others in their journey of growth and discovery.
            Prema believed in the power of
            knowledge and that high quality training shouldn't be a luxury that only
            priviledged programs receive.  Through this scholarship we try to spread her
            "love" through equitable access to trainings for everyone.
            If funding is an obstacle for you, apply for assistance through this scholarship program created in her name. 
        </p>

          <p class="mb-4">
              If, like Prema, you also believe good training should not be a luxury, please consider donating to the fund to help others.
          </p>
      </div>

      <div class="col-lg-4 align-self-center text-center">
        <div class="display-4 mb-4" style="color: #ffc0cb">
            <i class="fas fa-heart u-icon--size--xl"></i>
            <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/PremaSquare.png" alt="Sharon L Morrison, PhD (Prema)" />
            <i class="fas fa-heart u-icon--size--xl"></i>
        </div>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="PAJL9SHDMGG64">
            <button class="btn btn-primary py-3 px-4" type="submit">Donate <i class="fas fa-hand-holding-usd ml-2"></i></button>
            <a class="btn btn-primary py-3 px-4" href="https://docs.google.com/forms/d/e/1FAIpQLSfn--PAjEpFX4KngZIHqxbM9BX4qNIyoWLpP39L8hiu2T-i0w/viewform?usp=sf_link">Apply <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>