<div class="container bg-light py-5">
    <header class="text-center w-md-50 mx-auto mb-4">
      <h2 class="h1">Services</h2>
      <p class="lead">Give your team the tools they need to succeed.</p>
    </header>

    <div class="row text-center">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
        <h4 class="h5">Training</h4>
        <p>We use a blend of digital and in-person training to maximize skill aquisition.
          The <a href="https://my.heroes.team" target="_blank">Heroes Network</a>, 
          our digital learning platform, includes reference material 
          and practice tools for each course. Our instructors bring it to life.
        </p>
        <a href="https://my.heroes.team#frontpage-available-course-list" target="_blank">
          View courses <i class="fas fa-arrow-right ml-1"></i>
        </a>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fas fa-user-friends"></i>
        </div>
        <h4 class="h5">Coaching</h4>
        <p>Skills are mastered over time and with real practice, which is why we
          use ongoing virtual and in-person coaching to guide the professional growth
          of individuals and teams. Our network of experts is growing all the time.
        </p>
        <a href="#team">
          Meet the team <i class="fas fa-arrow-right ml-1"></i>
        </a>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fas fa-cubes"></i>
        </div>
        <h4 class="h5">Technial Assistance</h4>
        <p>Delivering human services is complex and it requires a diverse set of expertise.
          Whether it's independent assesment, program consulting, or team supervision, 
          our experts can respond to your unique needs both on-site and remotely.
        </p>
        <a href="#contact">
          Share your needs <i class="fas fa-arrow-right ml-1"></i>
        </a>
      </div>
    </div>
</div>