
    <div class="bg-light rounded py-5">
    <header class="text-center w-md-50 mx-auto mb-4">
      <h2 class="h1 ">Team</h2>
      <p class="lead text-center">Our instructors are ready to help.</p>
    </header>
    <div class="row text-center p-2">
        <div class="col-6 col-md-4 col-lg-3">
          <figure>
            <div class="u-box-shadow-sm bg-white text-center rounded px-1 py-2">
              <div class="mx-2">
                <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AntonioMejicoSquare.png" alt="Dr. Antonio Mejico" />
              </div>
              <div class="mb-1">
                <h6 class="mb-0">Dr. Antonio Mejico</h6>
                <span class="badge badge-pill badge-secondary">Leadership</span>
                <span class="badge badge-pill badge-secondary">Policy</span>
                <span class="badge badge-pill badge-secondary">Social Justice</span>
              </div>
            </div>
          </figure>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <figure>
            <div class="u-box-shadow-sm bg-white text-center rounded px-1 py-2">
              <div class="mx-2">
                <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/EbonyChambersSquare.png" alt="Ebony Chambers" />
              </div>
              <div class="mb-1">
                <h6 class="mb-0">Ebony Chambers</h6>
                <span class="badge badge-pill badge-secondary">Parent & Youth Partners</span>
                <span class="badge badge-pill badge-secondary">Cultural Competency</span>
                <span class="badge badge-pill badge-secondary">Wraparound</span>
                <span class="badge badge-pill badge-secondary">Child & Family Teaming</span>
              </div>
            </div>
          </figure>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <figure>
            <div class="u-box-shadow-sm bg-white text-center rounded px-1 py-2">
              <div class="mx-2">
                <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AntonioMejicoSquare.png" alt="Dr. Antonio Mejico" />
              </div>
              <div class="mb-1">
                <h6 class="mb-0">Dr. Antonio Mejico</h6>
                <span class="badge badge-pill badge-secondary">Leadership</span>
                <span class="badge badge-pill badge-secondary">Policy</span>
                <span class="badge badge-pill badge-secondary">Social Justice</span>
              </div>
            </div>
          </figure>
        </div>

        
    </div>

  </div>