<div class="container">
    <header class="text-center w-md-50 mx-auto mb-8">
      <h2 class="h1">Team</h2>
      <p class="h5">Our instructors are ready to help.</p>
    </header>

    <div class="card-deck">

        <div class="card bg-light u-box-shadow-sm bg-white rounded p-1">
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end" style="padding-bottom: 8rem;">
              <div>
                <span class="badge badge-pill badge-secondary">Leadership</span>
                <span class="badge badge-pill badge-secondary">Policy</span>
                <span class="badge badge-pill badge-secondary">Social Justice</span>
              </div>
            </div>
            <img class="card-img-bottom" src="../../images/people/AntonioMejicoJr.jpg" alt="Dr. Antonio Mejico">
            <div class="card-body">
              <h5 class="card-title">Dr. Antonio Mejico</h5>
            </div>
          </div>

          <div class="card bg-light u-box-shadow-sm bg-white text-center rounded p-1">
              <div class="card-img-overlay h-100 d-flex flex-column justify-content-end" style="padding-bottom: 8rem;">
                <div>
                  <span class="badge badge-pill badge-secondary">Leadership</span>
                  <span class="badge badge-pill badge-secondary">Policy</span>
                  <span class="badge badge-pill badge-secondary">Social Justice</span>
                </div>
              </div>
              <img class="card-img-bottom" src="../../images/people/AntonioMejicoJr.jpg" alt="Dr. Antonio Mejico">
              <div class="card-body">
                <h5 class="card-title">Dr. Antonio Mejico</h5>
              </div>
            </div>

            <div class="card bg-light u-box-shadow-sm bg-white text-center rounded p-1">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end" style="padding-bottom: 8rem;">
                  <div>
                    <span class="badge badge-pill badge-secondary">Leadership</span>
                    <span class="badge badge-pill badge-secondary">Policy</span>
                    <span class="badge badge-pill badge-secondary">Social Justice</span>
                  </div>
                </div>
                <img class="card-img-bottom" src="../../images/people/AntonioMejicoJr.jpg" alt="Dr. Antonio Mejico">
                <div class="card-body">
                  <h5 class="card-title">Dr. Antonio Mejico</h5>
                </div>
              </div>

              <div class="card bg-light u-box-shadow-sm bg-white text-center rounded p-1">
                  <div class="card-img-overlay h-100 d-flex flex-column justify-content-end" style="padding-bottom: 8rem;">
                    <div>
                      <span class="badge badge-pill badge-secondary">Leadership</span>
                      <span class="badge badge-pill badge-secondary">Policy</span>
                      <span class="badge badge-pill badge-secondary">Social Justice</span>
                    </div>
                  </div>
                  <img class="card-img-bottom" src="../../images/people/AntonioMejicoJr.jpg" alt="Dr. Antonio Mejico">
                  <div class="card-body">
                    <h5 class="card-title">Dr. Antonio Mejico</h5>
                  </div>
                </div>
    </div>
    <!-- Team Block -->
    <div class="row">


      <div class="col-lg-3 col-sm-6 mb-5">
        <!-- Team Block -->
        <figure>
          <img class="w-100 rounded-top" src="../../images/people/AntonioMejicoJr.jpg" alt="Dr. Antonio Mejico">

          <!-- Figure Info -->
          <div class="u-box-shadow-sm bg-white text-center rounded p-1">
            <div class="mb-3">
                <span class="badge badge-pill badge-secondary">Leadership</span>
                <span class="badge badge-pill badge-secondary">Policy</span>
                <span class="badge badge-pill badge-secondary">Social Justice</span>
              <h6 class="mb-1">Dr. Antonio Mejico</h5>
            </div>
          </div>
          <!-- End Figure Info-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="col-lg-3 col-sm-6 mb-5">
          <!-- Team Block -->
          <figure>
            <img class="w-100 rounded-top" src="../../images/people/EbonyChambers.jpg" alt="Dr. Antonio Mejico">

            <!-- Figure Info -->
            <div class="u-box-shadow-sm bg-white text-center rounded p-1">
              <div class="mb-3">
                <h6 class="mb-1">Ebony Chambers</h5>
                <span class="badge badge-pill badge-secondary">Parent &amp; Youth Partners</span>
                <span class="badge badge-pill badge-secondary">Cultural Competency</span>
                <span class="badge badge-pill badge-secondary">Wraparound</span>
                <span class="badge badge-pill badge-secondary">Child &amp; Family Teaming</span>
              </div>
            </div>
            <!-- End Figure Info-->
          </figure>
          <!-- End Figure -->
        </div>

      <div class="col-lg-3 col-sm-6 mb-5">
          <!-- Team Block -->
          <figure>
            <img class="w-100 rounded-top" src="../../images/people/MistyKerrigan.jpg" alt="Dr. Antonio Mejico">

            <!-- Figure Info -->
            <div class="u-box-shadow-sm bg-white text-center rounded p-1">
              <div class="mb-3">
                <h6 class="mb-1">Misty Kerrigan</h5>
                <span class="badge badge-pill badge-secondary">Leadership</span>
                <span class="badge badge-pill badge-secondary">Policy</span>
                <span class="badge badge-pill badge-secondary">Social Justice</span>
              </div>
            </div>
            <!-- End Figure Info-->
          </figure>
          <!-- End Figure -->
        </div>
      
      <div class="col-lg-3 col-sm-6 mb-5">
          <!-- Team Block -->
          <figure>
            <img class="w-100 rounded-top" src="../../images/people/SharonMorrisonPrema.jpg" alt="Dr. Antonio Mejico">

            <!-- Figure Info -->
            <div class="u-box-shadow-sm bg-white text-center rounded p-1">
              <div class="mb-3">
                <h6 class="mb-1">Sharon L. Morrison, Ph.D. (Prema)</h5>
                <span class="badge badge-pill badge-secondary">Wraparound</span>
                <span class="badge badge-pill badge-secondary">Communication</span>
                <span class="badge badge-pill badge-secondary">Team Building</span>
                <span class="badge badge-pill badge-secondary">Team Facilitation</span>
              </div>
            </div>
            <!-- End Figure Info-->
          </figure>
          <!-- End Figure -->
        </div>
    </div>
    <!-- End Team Block -->
  </div>