
    <div class="container bg-light rounded py-5 px-2">
    <header class="text-center w-md-50 mx-auto mb-4">
      <h2 class="h1 ">Team</h2>
      <p class="lead text-center">Our instructors are ready to help.</p>
    </header>
    <div class="card-columns">

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/JarredVermillionSquare.jpg" alt="Jarred Vermillion" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Jarred Vermillion</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Parent & Youth Partners</span>
              <span class="badge badge-pill badge-secondary">Team Facilitation</span>
              <span class="badge badge-pill badge-secondary">Engagement</span>
              <span class="badge badge-pill badge-secondary">Leadership</span>
              <span class="badge badge-pill badge-secondary">Practice Coaching</span>
              <span class="badge badge-pill badge-secondary">Program Development</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AlanGardnerSquare.jpg" alt="Alan Gardner" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Alan Gardner</h6>
              <span class="badge badge-pill badge-secondary">Technology</span>
              <span class="badge badge-pill badge-secondary">Community Building</span>
              <span class="badge badge-pill badge-secondary">Data Science</span>
              <span class="badge badge-pill badge-secondary">Leadership</span>
              <span class="badge badge-pill badge-secondary">Administration</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/DawneShawSquare.png" alt="Dawne Shaw" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Dawne Shaw</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">STRTP</span>
              <span class="badge badge-pill badge-secondary">Child &amp; Family Teaming</span>
              <span class="badge badge-pill badge-secondary">Parent Partner</span>
              <span class="badge badge-pill badge-secondary">Supervision</span>
              <span class="badge badge-pill badge-secondary">Foster Care</span>
              <span class="badge badge-pill badge-secondary">Adoption</span>
            </div>
          </div>
        </figure>
      </div>


      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/PremaSquare.png" alt="Sharon L Morrison, PhD (Prema)" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Sharon L Morrison, PhD (Prema)</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Team Building</span>
              <span class="badge badge-pill badge-secondary">Effective Communication</span>
              <span class="badge badge-pill badge-secondary">Team Facilitation</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AntonioMejicoSquare.png" alt="Dr. Antonio Mejico" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Dr. Antonio Mejico</h6>
              <span class="badge badge-pill badge-secondary">Leadership</span>
              <span class="badge badge-pill badge-secondary">Policy</span>
              <span class="badge badge-pill badge-secondary">Social Justice</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Program development</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/MistyKerriganSquare.jpg" alt="Misty Kerrigan" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Misty Kerrigan</h6>
              <span class="badge badge-pill badge-secondary">Leadership</span>
              <span class="badge badge-pill badge-secondary">Sustainability</span>
              <span class="badge badge-pill badge-secondary">Independent Living</span>
              <span class="badge badge-pill badge-secondary">CFT</span>
              <span class="badge badge-pill badge-secondary">STRTP</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Mental Health</span>
              <span class="badge badge-pill badge-secondary">I/O Psychology</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/RebekahCoxSquare.png" alt="Rebekah Cox" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Rebekah Cox</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">CANS</span>
              <span class="badge badge-pill badge-secondary">Trauma</span>
              <span class="badge badge-pill badge-secondary">Crisis Intervention</span>
              <span class="badge badge-pill badge-secondary">Leadership</span>
              <span class="badge badge-pill badge-secondary">Program development</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/EbonyChambersSquare.png" alt="Ebony Chambers" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Ebony Chambers</h6>
              <span class="badge badge-pill badge-secondary">Parent & Youth Partners</span>
              <span class="badge badge-pill badge-secondary">Cultural Competency</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Family Finding</span>
              <span class="badge badge-pill badge-secondary">Child & Family Teaming</span>
              <span class="badge badge-pill badge-secondary">Parent Leadership</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/RobEdmistenSquare.png" alt="Rob Edmisten" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Rob Edmisten</h6>
              <span class="badge badge-pill badge-secondary">Probation</span>
              <span class="badge badge-pill badge-secondary">Juvenile Justice</span>
              <span class="badge badge-pill badge-secondary">Evidence Based Practices</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Community Corrections</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AndreaVermillionSquare.jpg" alt="Andrea Vermillion" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Andrea Vermillion</h6>
              <span class="badge badge-pill badge-secondary">Child Development</span>
              <span class="badge badge-pill badge-secondary">Prenatal Care</span>
              <span class="badge badge-pill badge-secondary">Administration</span>
              <span class="badge badge-pill badge-secondary">Attachment & Bonding</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/AaronZaimaSquare.png" alt="Aaron Zaima, LCSW" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Aaron Zaima, LCSW</h6>
              <span class="badge badge-pill badge-secondary">Residential Care</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Facilitation</span>
              <span class="badge badge-pill badge-secondary">Social Work</span>
              <span class="badge badge-pill badge-secondary">Child &amp; Family Teaming</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/ShemarPierceSquare.jpeg" alt="Shemar Pierce" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">Shemar Pierce</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">CFT</span>
              <span class="badge badge-pill badge-secondary">Juvenile Probation</span>
            </div>
          </div>
        </figure>
      </div>

      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mx-2">
              <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle" width="200" height="auto" src="../../images/people/JamesCarrSquare.jpeg" alt="James Carr, LCSW" />
            </div>
            <div class="mb-1">
              <h6 class="mb-0">James Carr, LCSW</h6>
              <span class="badge badge-pill badge-secondary">Cognitive Processing Therapy</span>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Mindfulness</span>
              <span class="badge badge-pill badge-secondary">Self-Compassion</span>
              <span class="badge badge-pill badge-secondary">Management</span>
              <span class="badge badge-pill badge-secondary">Trauma</span>
            </div>
          </div>
        </figure>
      </div>

      <!--
      <div class="card">
        <figure>
          <div class="u-card-content">
            <div class="mb-1">
              <h6 class="mb-0">Dr. Michael Rauso</h6>
              <span class="badge badge-pill badge-secondary">Wraparound</span>
              <span class="badge badge-pill badge-secondary">Individualized Care</span>
              <span class="badge badge-pill badge-secondary">Management</span>
              <span class="badge badge-pill badge-secondary">Trauma</span>
            </div>
          </div>
        </figure>
      </div>
      -->

        
    </div>

  </div>