
<header class="text-center w-md-50 mx-auto mb-8">
<p class="h5">but don't just take our word for it...</p>
</header>

<div class="carousel-centered">

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">Knowledgeable, passionate, engaging, down to earth, and compassionate! I would recommend their services to anyone who has interest in growing professionally!</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Debbie Reno-Smith</strong>
        <div class="u-font-size-75 text-dark">Executive Director</div>
        <div class="u-font-size-75 text-dark">@ Victor Community Support Services</div>
    </div>
    </div>
    <!-- End Testimonial -->
</div>

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">A seasoned service provider with experience ranging from trauma informed care to Wraparound to training lived experience peer roles.</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Lita Ann Carvalho, LMFT</strong>
        <div class="u-font-size-75 text-dark">Probation Alcohol &amp; Drug Program Specialist</div>
        <div class="u-font-size-75 text-dark">@ County of San Diego</div>
    </div>
    </div>
    <!-- End Testimonial -->
</div>

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">Raw, authentic, passionate and extremely skilled.</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Chevonna Gaylor</strong>
        <div class="u-font-size-75 text-dark">Clinical Trainer</div>
        <div class="u-font-size-75 text-dark">@ UC Davis Continuing and Professional Education</div>
    </div>
    </div>
    <!-- End Testimonial -->
</div>

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">Organized and extremely competent in facilitating a large group training over the course of several days.</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Abigale Henderson</strong>
        <div class="u-font-size-75 text-dark">Program Manager- Administration/Department Safety Officer</div>
        <div class="u-font-size-75 text-dark">@ Butte County Employment &amp; Social Services</div>
    </div>
    </div>
    <!-- End Testimonial -->
</div>

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">The enthusiasm, passion, and knowledge to engage people and prepare them to take the next step!</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Jacey Coy, PsyD, LMFT</strong>
        <div class="u-font-size-75 text-dark">Vice President of Operations</div>
        <div class="u-font-size-75 text-dark">@ Connections Health Solutions</div>
    </div>
    </div>
    <!-- End Testimonial -->
</div>

<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">Easily the best training I've ever had in this field. I can't say enough good things about their approach to training and motivating.</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Bryan Do</strong>
    </div>
    </div>
    <!-- End Testimonial -->
</div>


<div class="px-3">
    <!-- Testimonial -->
    <blockquote class="u-blockquote-v2 rounded mb-5">By far one of the best trainings I've ever had!!!!</blockquote>
    <div class="media u-font-size-90">
    <div class="media-body align-self-center">
        <strong class="d-block">Linda Ingram</strong>
    </div>
    </div>
    <!-- End Testimonial -->
</div>
    
    

</div>